In [1]:
#1.How to import pandas and check the version?
import numpy as np
import pandas as pd

print(pd.__version__)

1.2.0

In [4]:
#2. How to create a series from a list, numpy array and dict?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr)) #

mylist_sr = pd.Series(mylist)
myarr_sr = pd.Series(myarr)
mydict_sr = pd.Series(mydict) 

mydict_sr.head()

#補充Series與np.array的差異
#Series
#1、pd.series将输入数据的维度视为一维，不支持多维array！
#2、无论是输出的series还是将输出的series转换成numpy数组，维度保持一维！
#3、pd.series输出自动判断是否转为object类型

#Array
#1、np.array将输入数据视为多维，每行长度一致即可
#2、np.array输出数据的维度保持多维
#3、np.array把不同类型数据转为object类型

a    0
b    1
c    2
e    3
d    4
dtype: int64

## .reset_index()

In [5]:
#3. How to convert the index of a series into a column of a dataframe?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

ser_pd = pd.DataFrame(ser).reset_index()
#alternative
ser_pd = ser.to_frame().reset_index()
print(ser_pd.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [15]:
#4. How to combine many series to form a dataframe?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

#alternative1
#df = pd.concat([ser1,ser2],axis=1)

#alternative2
df = pd.DataFrame({'col1':ser1,'col2':ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## ser.name = 'alphabets'

In [6]:
#5. How to assign name to the series’ index?
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

## isin()回傳Boolin ~代表否定

In [11]:
#6. How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

~ser1.isin(ser2)
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## Union: np.union1d(ser1,ser2) Append後取Dist np.intersect1d取兩者交集

In [16]:
#7. How to get the items not common to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1,ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## np.random.normal(中心點, 標準差, 大小)
## np.percentile(sers, q=[Q0,Q25,Q50...])

In [22]:
#8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

ser = pd.Series(np.random.normal(10, 5, 25))
ser.describe()

# Alternative
np.percentile(ser, q=[0, 25, 50, 75, 100])

count    25.000000
mean      9.321480
std       5.112344
min      -0.938636
25%       6.291867
50%      11.265140
75%      13.406775
max      18.117971
dtype: float64

## np.take(某個array,選取array的索引值)

In [2]:
a = list('abcdefgh')
b = np.random.randint(8, size=30)
print(a,b)
np.take(a, b)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] [1 1 5 4 0 0 4 4 1 6 4 4 5 3 4 1 6 4 2 0 2 2 4 3 5 4 7 4 4 7]

array(['b', 'b', 'f', 'e', 'a', 'a', 'e', 'e', 'b', 'g', 'e', 'e', 'f',
       'd', 'e', 'b', 'g', 'e', 'c', 'a', 'c', 'c', 'e', 'd', 'f', 'e',
       'h', 'e', 'e', 'h'], dtype='<U1')

In [26]:
#9. How to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

d    5
a    4
h    4
f    4
c    4
b    4
g    3
e    2
dtype: int64

In [45]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])]='Other'
ser

0         1
1         4
2         1
3         1
4     Other
5         4
6         4
7         4
8         4
9     Other
10        1
11    Other
dtype: object

## qcut(數列,q=[級距],labels=[標籤])函数则是根据数据本身的数量来对数据进行分割
## pd.cut(數列,切成n等分) → 最大值/n為每個分組的依據
## range(start,stop,step)只能整數；np.arrange(start,stop,step)可以用小數
https://zhuanlan.zhihu.com/p/68194655

In [72]:
x = []
for i in np.arange(0,1.1,0.1): #切成10等分要有11個切點
    x.append(i)
print(x)

lb = []
for i in range(1,11):
    t =  str(i) + "th"
    lb.append(t)
print(lb)

[0.0, 0.1, 0.2, 0.30000000000000004, 0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8, 0.9, 1.0]
['1th', '2th', '3th', '4th', '5th', '6th', '7th', '8th', '9th', '10th']

In [74]:
#11. How to bin a numeric series to 10 groups of equal size?
ser = pd.Series(np.random.random(20))
ser = pd.qcut(ser,q=x,labels=lb)
ser

0      1th
1     10th
2     10th
3      7th
4      2th
5      5th
6      2th
7      6th
8      9th
9      4th
10     9th
11     4th
12     5th
13     6th
14     8th
15     7th
16     3th
17     8th
18     3th
19     1th
dtype: category
Categories (10, object): [1th < 2th < 3th < 4th ... 7th < 8th < 9th < 10th]

## df.column.values   以array形式返回指定column的所有取值，可解決AttributeError: 'Series' object has no attribute 'reshape'

In [79]:
#12. How to convert a numpy array to a dataframe of given shape? (L1)
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5)) #df.column.values   以array形式返回指定column的所有取值
print(df)

   0  1  2  3  4
0  6  3  4  6  6
1  4  2  4  1  7
2  8  6  3  7  5
3  4  3  4  2  8
4  7  2  7  4  1
5  8  5  1  4  4
6  5  5  7  7  3

In [85]:
#13. How to find the positions of numbers that are multiples of 3 from a series?
ser = pd.Series(np.random.randint(1, 10, 7))
ser[ser%3==0]

2    6
3    9
5    9
dtype: int32

In [90]:
#14. How to extract items at given positions from a series
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
np.take(ser,pos)
#alternative
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

## pd.concat([這邊要放ser],axis=0/1)

In [94]:
#15. How to stack two series vertically and horizontally ?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
v = ser1.append(ser2)
h = pd.concat([ser1,ser2],axis=1)

## np.where(condition) ex: np.where(a > 5) -> Return index
## index对象具有字典的映射功能，.get_loc(value)获得单值得下标，.get_indexer(values)获得一组值得下标，当值不存在则返回-1
https://blog.csdn.net/weixin_38168620/article/details/79577331

In [5]:
# 16. How to get the positions of items of series A in another series B?
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

ser1[ser1.isin(ser2)].index

#Alternatives
[np.where(i == ser1)[0].tolist()[0] for i in ser2]
[pd.Index(ser1).get_loc(i) for i in ser2]

Int64Index([0, 4, 5, 8], dtype='int64')

## NP.mean()

In [10]:
# 17. How to compute the mean squared error on a truth and predicted series?
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = np.mean((truth-pred)**2)
mse

0.33773471323727877

## .Title -> First cha Upper
## for i in ser寫在同一行 i.title()要提前寫出來
## map(function, iterable, ...) 通常會搭配lambda map(lambda x: x ** 2, [1, 2, 3, 4, 5]) 
map 使用 https://www.runoob.com/python/python-func-map.html

In [19]:
# 18. How to convert the first character of each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser = pd.Series([i.title() for i in ser ])
ser = ser.map(lambda x: x.title())
ser

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [21]:
#19. How to calculate the number of characters in each word in a series?

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

num_wd = ser.map(lambda x: len(x))
num_wd

0    3
1    2
2    4
3    4
dtype: int64

## diff() compute the difference btw two numbers

In [25]:
#20. How to compute difference of differences between consequtive numbers of a series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## to_datetime(ser) 轉換成datetime

In [29]:
#21. How to convert a series of date-strings to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
tm = pd.to_datetime(ser)
tm

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## 日期格式處理 先把dttm.dt返回日期再進行後續處理
## .day返回每個月的幾號 .isocalendar() 以df返回年/週數/星期幾
## .dayofyear: 該年度第幾天 .day_name()返回該星期(全名)

In [66]:
#22. How to get the day of month, week number, day of year and day of week from a series of date strings?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))
ser_ts

print('Date: ',ser_ts.dt.day.tolist())
print('Week Num: ',ser_ts.dt.isocalendar().loc[:,'week'].tolist())
print('Day Num of Year: ',ser_ts.dt.dayofyear.tolist())
print('DoW: ', ser_ts.dt.day_name().tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week Num:  [53, 5, 9, 14, 19, 23]
Day Num of Year:  [1, 33, 63, 94, 125, 157]
DoW:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [55]:
ser_ts.dt.isocalendar()

   year  week  day
0  2009    53    5
1  2011     5    3
2  2012     9    6
3  2013    14    4
4  2014    19    1
5  2015    23    6

In [67]:
ser_ts

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## parse(日期文字) Return datetime.datetime
## strftime有相同的功能，但可以再更細緻指定YMD

In [75]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month?

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser_ts = ser.map(lambda x: parse(x))
ser_ts

# Solution 1
#先做出日期的文字
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'
#再把文字進行格式化
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [84]:
# 24. How to filter words that contain atleast 2 vowels from a series?
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

vow = ['a','e','i','o','u']

In [ ]:
# 25. How to filter valid emails from a series?